* {
    font-family: Arial;
}

.top-bar {
    background-color: #303030;
    font-size: 2em;
    color: snow;
    font-family: "Arial Black";
    padding: 1em;
    overflow: hidden;
}

.content {
    border-style: solid;
    border-width: .4em;
    border-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1px;
}

.content :first-child {
    align-self: center
}

.content > * {
    background-color: azure;
    border-radius: 25px;
    padding: 20px;
    border-style: solid;
    border-color: aqua;
}

.bold-text {
    font-weight: bold;
}

.laptop-info {
    display: none;
}

/** Center the content of laptop info **/
.laptop-info > * {
    margin: auto;
    width: 50%;
    display: block;
    padding: 5px;
}

button {
    background-color: #4CAF50;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.red-button {
    background-color: red;
}
.blue-button {
    background-color: deepskyblue;
}

select {
    background-color: papayawhip;
}